@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f7f7;
  position: relative;
}

/* HEADER */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 2rem 0;
}

.logo {
  width: 60%;
  max-width: 15rem;
  margin-left: 2rem;
}

.right-side {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.about {
  margin-right: 5rem;
  color: #457b9d;
  cursor: pointer;
}

@media (max-width: 590px) {
  .main-header {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .right-side {
    margin-top: 1rem;
    margin-right: 0;
  }
  .about {
    margin-right: 2rem;
  }
}

/* MAIN */

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  position: relative;
}

.search-btn {
  width: 200px;
  border-radius: 1rem;
  border: 2px solid #e5e5e5;
  border-bottom: 6px solid #e5e5e5;
  transition: all 0.1s;
  display: inline-flex;
  padding: 12px 1rem;
  cursor: pointer;
  justify-content: center;
  font-weight: 700;
  color: #1d3557;
  margin-left: 3.2rem;
  border-color: #1d3557;
  background-color: #b3c8e6;
}

.search-btn:hover {
  background-color: #b3c8e6;
  border-color: #1d3557;
  color: #f7f7f7;
}

.search-btn:active {
  border: 2px solid #b3c8e6;
  border-bottom: 6px solid #b3c8e6;
  background-color: #1d3557;
}

.recipe-matched-text {
  font-size: 1.7rem;
  font-weight: 500;
  color: #a8dadc;
}

.recipe-matched-number {
  color: #457b9d;
  text-decoration: underline;
}

.sort {
  margin-right: 4rem;
  width: 180px;
  outline: none;
  font-size: 1rem;
  padding: 0.4rem 0;
  background-color: #d9d9d9;
  border: none;
  border-radius: 6px;
}

.mobile-sort {
  display: none;
}

@media (max-width: 1000px) {
  .recipe-matched-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 890px) {
  .recipe-matched-text {
    display: none;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-btn {
    margin-bottom: 1rem;
    margin-left: 0;
    z-index: 6;
    display: none;
  }

  .sort {
    margin: 0;
  }

  .search-btn:hover {
    border: 2px solid #b3c8e6;
    border-bottom: 6px solid #b3c8e6;
    background-color: #1d3557;
  }
}

/* SIDEBAR */

.sidebar-and-display {
  display: flex;
}

.sidebar {
  /* grid-area: sidebar; */
  width: 20%;
  padding: 0 1rem;
  border: 1px solid #000;
  border-left: none;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* MEAL TYPE */

.meal-type--container {
  padding-top: 3rem;
}

.type--heading {
  text-align: center;
  padding: 0.3rem 0;
  border-bottom: 1px solid #000;
  width: 95%;
}

.type--options {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.left-side--options {
  margin-right: 1rem;
}
.right-side--options {
  margin-left: 1rem;
}

ul {
  list-style: none;
}

.option {
  margin-top: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.6rem 0.3rem;
  border-radius: 11px;
}

.option:hover {
  background: rgba(168, 218, 220, 0.3);
}

/* DIET TYPE */

.diet-type--container {
  padding-top: 3rem;
}

/* NUTRITION */

.nutrition--container {
  padding-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nutrition-main-heading {
  border-bottom: 1px solid #000;
  padding-bottom: 0.3rem;
  text-align: center;
  width: 95%;
}

.container {
  width: 100%;
}

.nutrition-heading {
  text-align: center;
  margin: 1rem 0;
}

.value-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.separator {
  font-size: 1rem;
  margin: 0 0.5rem;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 10px;
}

.progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 10px;
  background: #a8dadc;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #a8dadc;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background: #a8dadc;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
}

/* RECIPE DISPLAY */

.recipe-display {
  padding: 2rem 0;
  /* grid-area: display; */
  width: 80%;
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.recipe-container {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  width: 90%;
  max-width: 23rem;
  height: auto;
  border: 1px solid rgba(29, 53, 87, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 11px;
}

.recipe-container:hover {
  -webkit-box-shadow: 0px 0px 18px -7px rgba(29, 53, 87, 1);
  -moz-box-shadow: 0px 0px 18px -7px rgba(29, 53, 87, 1);
  box-shadow: 0px 0px 18px -7px rgba(29, 53, 87, 1);
}

.top-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-image--container {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 180px;
  height: 180px;
}

.recipe-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 11px;
}

.right-top-side {
  width: 50%;
  text-align: center;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-heading {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: #457b9d;
}

.recipe--diet-types {
  border-bottom: 3px solid #457b9d;
}

.recipe--diet-types:hover {
  opacity: 0.75;
}

.recipe--diet-type {
  font-weight: 500;
  font-size: 1rem;
}

.bottom-side {
  display: flex;
  align-items: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.left-bottom-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.ingredients-heading {
  font-weight: 400;
}

.recipe-nutrition-heading {
  font-weight: 400;
}

.ingredients-list {
  margin-top: 1.7rem;
  margin-left: 1rem;
}

.ingredient {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}

.ingredient-value {
  color: #62c370;
  border-bottom: 1px solid #62c370;
  font-weight: 700;
}

.right-bottom-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutrition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
}

.nutritions-list {
  margin-top: 1.3rem;
}

.nutrition-value {
  color: #62c370;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.2rem;
  margin-left: 1.2rem;
  border-radius: 11px;
}

/* BUTTON */

.button {
  min-width: 50%;
  border-radius: 1rem;
  border: 2px solid #e5e5e5;
  border-bottom: 6px solid #e5e5e5;
  margin: 2rem 0 1.2rem;
  transition: all 0.1s;
  display: inline-flex;
  padding: 12px 1rem;
  cursor: pointer;
  justify-content: center;
  font-weight: 700;
  color: #1d3557;
}

.button:hover {
  background-color: #b3c8e6;
  border-color: #1d3557;
  color: #f7f7f7;
}

.button:active {
  border-bottom: 2px solid #1d3557;
}

.whole--mobile-menu {
  display: none;
}

.search-btn--mobile {
  width: 35%;
  border: none;
  background-color: #fff;
  padding: 0.7rem 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #1d3557;
  font-weight: 700;
}

.search-btn--mobile:hover {
  background-color: #b3c8e6;
  color: #ffff;
}

.hidden {
  display: none;
}

.illustration-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  color: #1d3557;
}

.illustration-img {
  margin-bottom: 1rem;
  width: 60%;
  max-width: 300px;
}

.loader {
  position: absolute;
  top: 30%;
  display: none;
}

@media (max-width: 1400px) {
  .sidebar {
    width: 25%;
  }
  .recipe-display {
    width: 75%;
  }
}

@media (max-width: 1150px) {
  .sidebar {
    width: 30%;
  }
  .recipe-display {
    width: 70%;
  }
}

@media (max-width: 930px) {
  .option {
    font-size: 1rem;
  }
  .left-side--options {
    margin-right: 0.7rem;
  }
  .right-side--options {
    margin-left: 0.5rem;
  }
}

@media (max-width: 890px) {
  .sidebar {
    display: none;
  }
  .recipe-display {
    width: 100%;
  }

  .whole--mobile-menu {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    /* display: none; */
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid #000; */
    color: #ffff;
    box-shadow: 5px 0px 10px 0px #aaa;
    background-color: #fff;
    border-radius: 15px;
  }

  .mobile-menu--type {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid transparent;
    border-radius: 15px;
  }

  .mobile-menu--type:hover,
  .mobile-menu--type:active {
    opacity: 0.75;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .heading-mobile-menu {
    font-size: 0.8rem;
    color: #1d3557;
  }

  .mobile-menu--display {
    width: 85%;
    max-width: 20rem;
    height: auto;
    box-shadow: 5px 0px 10px 0px #aaa;
    border-radius: 15px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }

  .nutrition--container {
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .nutrition-main-heading {
    border: none;
  }

  .nutrition-heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .diet-type--container {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .meal-type--container {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .type--heading {
    border: none;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    z-index: 5;
  }
}

@media (max-width: 640px) {
  .illustration-container {
    margin-top: 2rem;
  }

  .illustration-img {
    width: 35%;
  }

  .illustration-text {
    font-size: 1.5rem;
  }

  .recipe-display {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .recipe-container {
    margin: 0;
    margin-top: 1.5rem;
  }

  .recipe-heading {
    font-size: 1.1rem;
  }

  .ingredients-heading {
    font-size: 1.2rem;
  }
  .recipe-nutrition-heading {
    font-size: 1.2rem;
  }

  .ingredient {
    font-size: 0.75rem;
  }

  .nutrition {
    font-size: 0.75rem;
  }

  .nutrition-value {
    font-size: 1rem;
  }

  .button {
    margin: 1.5rem 0 1rem;
  }
}
